@page
@model CreateModel

@{
    ViewData["Title"] = "Create Customer";
}
@{
    var accountType = HttpContext.Session.GetInt32("AccountType");
    if (accountType != 1)
    {
        Response.Redirect("Unauthorized");
    }

}
<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Customer</h2>
        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" asp-for="Customer.Password" class="form-control" />
                    <span asp-validation-for="Customer.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Contact Name</label>
                <div class="col-sm-8">
                    <input asp-for="Customer.ContactName" class="form-control" />
                    <span asp-validation-for="Customer.ContactName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input asp-for="Customer.Address" class="form-control" />
                    <span asp-validation-for="Customer.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input asp-for="Customer.Phone" class="form-control" />
                    <span asp-validation-for="Customer.Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-page="Index" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


