@page
@model Assignment_02_ShoppingWebsite.Pages.UnauthorizedModel
@{
    <h1 class="text-center text-danger">Unauthorized Access</h1>

    <p class="text-center text-danger">You are not authorized to access this page.</p>
}
